* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
}

#board {
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    height: 768px;
    border: 2px solid lightgrey;
    justify-content: space-evenly;
    background-color: #1f1d20;
}

#board>div {
    text-align: center;
    border: 1px solid lightgrey;
    width: 30px;
    height: 30px;
}

.aqua {
    background-color: aqua;
}

.blue {
    background-color: blue;
}

.darkorange {
    background-color: darkorange;
}

.yellow {
    background-color: yellow;
}

.green {
    background-color: green;
}

.blueviolet {
    background-color: blueviolet;
}

.red {
    background-color: red;
}