* {
    padding: 0;
    margin: 0;
}
body {
    display: flex;
    justify-content: center;
}

#board {
    display: flex;
    flex-wrap: wrap;
    width: 320px;
    height: 768px;
    justify-content: space-evenly;
}

#board>div {
    text-align: center;
    border: 1px solid black;
    width: 30px;
    height: 30px;
}

.yellow {
    background-color: yellow;
}